{{#programs}}
<div id="{{_id}}" class="pane column hidden">
    <div id="{{_id}}-header" class="pane-header" ondblclick='changePaneSize("{{_id}}")'>
      <div class="pane-name">
        <h4>{{name}}</h4>
      </div>
      <div class="pane-buttons">
          <p class="button-pane" onclick='minimizePane("{{_id}}")'>-</p>
          <p class="button-pane" onclick='changePaneSize("{{_id}}")'>&#6896;</p>
          <p class="button-pane" onclick='closePane("{{_id}}")'>x</p>
      </div>
    </div>
    <form class="myform" action="updatemusic" method="post">
      <div class="">
        <input id='newName' type="text" name="name" placeholder="renomear"><br>
      </div>
      <input id="btn" type="button" name="btn" value="Submit form">
    </form>
</div>
{{/programs}}
